@use "_variables" as vars;

@mixin flex($dir: row, $hasGap: true) {
	display: flex;
	justify-content: center;
	align-items: center;
	@if $hasGap {
		gap: map-get(vars.$gaps, default);
	}
	flex-direction: $dir;
	@content;
}

@mixin grid($hasGap: true) {
	display: grid;
	justify-content: center;
	align-items: center;
	@if $hasGap {
		gap: map-get(vars.$gaps, default);
	}
	@content;
}

@mixin cursorPointer {
	cursor: url("/images/cursorPointer.svg"), pointer;
}

@mixin border($color: map-get(vars.$colors, white2)) {
	border: 1px solid $color;
}

@mixin label($color: map-get(vars.$colors, black)) {
	color: $color;
	font-weight: 400;
	font-size: map-get(vars.$fontSizes, label);
}

@mixin placeholder {
	&::placeholder {
		@include label($color: map-get(vars.$colors, gray2));
	}
}

@mixin outline($within: false) {
	outline: 1px solid transparent;
	outline-offset: 1px;
	&:focus-visible {
		outline: 1px solid map-get(vars.$colors, orange);
	}
	@if $within {
		&:focus-within {
			outline: 1px solid map-get(vars.$colors, orange);
		}
	}
	@content;
}

@mixin image {
	border-radius: map-get(vars.$radius, sm);
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	@supports (image-rendering: crisp-edges) {
		image-rendering: crisp-edges;
	}
}

@mixin container($maxWidth: 1400px) {
	margin: 0 auto;
	max-width: $maxWidth;
	padding: map-get(vars.$paddings, default);
	@content;
}

@mixin mainContent {
	flex: 1;
}
