@use "_variables" as vars;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, 
ol {
	list-style: none;
}

fieldset {
	border: none;
}

body {
	min-height: 100vh;
	line-height: 1.3;
	background: map-get(vars.$colors, white3);
	font-family: map-get(vars.$fonts, family1);
	color: map-get(vars.$colors, black1);
}

@each $header, $size in vars.$fontSizes {
	#{$header} {
		font-size: $size;
	}
}
