@use "/src/app/styles/_variables" as vars;
@use "/src/app/styles/_mixins" as mixins;

$segmentCount: 8;

.default {
	position: relative;
	width: 50px;
	aspect-ratio: 1 / 1;
}

.loaderItem {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.loaderItem::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	aspect-ratio: 1 / 1;
	border-radius: map-get(vars.$radius, rounded);
	background: map-get(vars.$colors, gray2);
	animation: loaderItemTail 1s linear infinite;
}

@keyframes loaderItemTail {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@for $i from 1 through $segmentCount {
	.loaderItem-#{$i} {
		transform: rotate(-45deg * $i);
		&::before {
			animation-delay: 0.125s * $i;
		}
	}
}
