@use "/src/app/styles/_variables" as vars;
@use "/src/app/styles/_mixins" as mixins;

.default {
	@include mixins.flex {
		align-items: flex-start;
	}
	padding: map-get(vars.$paddings, card);
	border-radius: map-get(vars.$radius, sm);
	background: map-get(vars.$colors, white1);
}

.main {
	flex: 1;
	@include mixins.flex(column) {
		align-items: stretch;
	}
}

.poster {
	@include mixins.image;
	width: 7rem;
	height: 9rem;
}

.header {
	@include mixins.flex {
		align-items: flex-start;
		justify-content: space-between;
	}
}

.title {
	font-weight: 600;
}

.info {
	max-width: 80%;
	@include mixins.flex(column) {
		align-items: stretch;
		gap: calc(map-get(vars.$gaps, default) - 4px);
	}
}

.infoSection {
	@include mixins.grid {
		align-items: flex-start;
		justify-content: space-between;
		grid-template-columns: 13% 87%;
	}
}
.infoSectionLabel {
	@include mixins.label($color: map-get(vars.$colors, gray3));
}

.infoSectionValue {
	@include mixins.label;
}
