@use "/src/app/styles/_variables" as vars;
@use "/src/app/styles/_mixins" as mixins;

.form {
	@include mixins.flex(column) {
		align-items: stretch;
		gap: map-get(vars.$gaps, primary);
	}
}

.buttons {
	@include mixins.flex {
		align-self: flex-start;
		gap: calc(map-get(vars.$gaps, default) / 2);
	}
}
