@use "/src/app/styles/_variables" as vars;
@use "/src/app/styles/_mixins" as mixins;

.default {
	position: sticky;
	top: 0;
	z-index: map-get(vars.$zIndex, header);

	background: map-get(vars.$colors, gray1);
}

.container {
	@include mixins.container {
		padding: map-get(vars.$paddings, header);
	}
	@include mixins.flex {
		justify-content: space-between;
	}
}

.logo {
	@include mixins.cursorPointer;
	@include mixins.outline;
	border-radius: map-get(vars.$radius, sm);
	text-decoration: none;
}

.title {
	font-weight: 700;
	color: map-get(vars.$colors, white1);
}
